<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div class="mb-4 p-8">
	<p-tabs value="0">
		<p-tablist>
			<p-tab value="0">Events</p-tab>
			<p-tab value="1">Assign Event</p-tab>
			<p-tab value="2">Instructors</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<label class="block text-900 font-medium mb-2" for="instructor">Select an instructor</label>
				<p-select
					(onChange)="getOverall(instructor.id)"
					[(ngModel)]="instructor"
					[options]="instructors"
					optionLabel="name"
					placeholder="Select an instructor"
				></p-select>
				<div *ngIf="instructor" class="mt-5">
					<div class="text-500 w-6 font-medium md:w-2">Name:</div>
					<div class="text-900 w-full flex-order-0">{{ instructor.name }} {{ instructor.surname }}</div>
					<div class="text-500 w-6 font-medium md:w-2">Birthday:</div>
					<div class="text-900 w-full flex-order-0">{{ instructor.birthday }}</div>
					<div class="text-500 w-6 font-medium md:w-2">Overall:</div>
					<div class="text-900 w-full flex-order-0">{{ overall }} days in this month</div>
				</div>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
</div>
