<p-toast></p-toast>
<div class="ui-g">
  <p-panel header="Schedule" [style]="{width: '75%', margin: '0 auto'}">
    <p-tabView>
      <p-tabPanel header="Eventos">
        <p-dropdown [options]="instructors" [(ngModel)]="instructor" optionLabel="name"
          placeholder="Select an instructor">
        </p-dropdown>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-3">
            <h5 *ngIf="instructor">{{instructor.name}}</h5>
          </div>
          <div class="p-field p-col-12 p-md-3">
            <h5 *ngIf="instructor">{{instructor.lastname}}</h5>
          </div>
          <div class="p-field p-col-12 p-md-3">
            <h5 *ngIf="instructor">{{instructor.birthday | date}}</h5>
          </div>
        </div>
        <p-fullCalendar *ngIf="!instructor" [events]="events" [options]="options"></p-fullCalendar>
        <p-fullCalendar *ngIf="instructor" [events]="instructor.events" [options]="options"></p-fullCalendar>
      </p-tabPanel>
      <p-tabPanel header="Asignar Evento">
        <br>
        <form #fomAssign="ngForm" (ngSubmit)="assignEvent(fomAssign)">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-3">
              <p-dropdown [options]="instructors" [(ngModel)]="instructor" optionLabel="name"
                placeholder="Select an instructor" required name="instructor">
              </p-dropdown>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid" *ngIf="instructor">
            <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <input id="title" type="text" pInputText [(ngModel)]="event.title" required name="title">
                <label for="title">Nombre del evento</label>
              </span>
            </div>
            <div class="p-field p-col-12 p-md-3">
              <span class="p-float-label">
                <p-calendar id="startEvent" [showTime]="true" [(ngModel)]="event.start" required name="startEvent">
                </p-calendar>
                <label for="startEvent">Fecha inicio</label>
              </span>
            </div>
            <div class="p-field p-col-12 p-md-3">
              <span class="p-float-label">
                <p-calendar id="endEvent" [showTime]="true" [(ngModel)]="event.end" name="endEvent">
                </p-calendar>
                <label for="endEvent">Fecha finalizacion</label>
              </span>
            </div>
            <div class="p-field p-col-12">
              <span class="p-float-label">
                <input id="description" type="text" pInputText [(ngModel)]="event.description" name="description">
                <label for="description">Descripcion del evento</label>
              </span>
            </div>
            <button pButton pRipple type="Submit" label="Guardar"></button>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Instructores">
        <div id="form-instructor" class="card">
          <h5>Guardar instructor</h5>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
              <label for="fieldId" class="p-col-fixed" style="width: 100px;">Nombre</label>
              <div class="p-col">
                <input id="fieldId" type="text" pInputText>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-6">
              <label for="lastname" class="p-col-fixed" style="width: 100px;">Apellido</label>
              <div class="p-col">
                <input id="lastname" type="text" pInputText>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-3">
              <label for="birthday" class="p-col-fixed">Fecha nacimiento</label>
              <div class="p-col">
                <p-calendar id="birthday"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <p-table [value]="instructors">
          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Fecha nacimiento</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-instructor>
            <tr>
              <td>{{instructor.name}}</td>
              <td>{{instructor.lastname}}</td>
              <td>{{instructor.birthday | date}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</div>